<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<div th:if="${error}">
    <p th:text="${error}">Invalid username or password</p>
</div>
<div th:if="${message}">
    <p th:text="${message}">Sign up successful. Please log in.</p>
</div>
</body>
</html>
